/.vscode
/AWS account.txt
/danmaku_info
/login.txt
/private key
/ServerSetupSteps.docx
/ssh
/videos
/VRdanmaku.txt
/~$rverSetupSteps.docx
server.js.txt
index.html.txt
screen shots/Danmaku List with Jump and Delete.png
screen shots/VR Borehole.png
screen shots/Speech Recognition input.png
screen shots/Synchronized video_video1.png
screen shots/Synchronized video_video2.png
VR Videos/3DBoreholeVR_34s.mp4
VR Videos/BoreholeVR_Cloud_Points_34s.mp4
VR Videos/BoreholeVR_LowRev_34s.mp4
VR Videos/BoreholeVR.mp4
VR Videos/CloudPointsVR_LR_34s.mp4
SetupInstruction.txt
